p {
  margin: 0px;
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.ts0 {
  font-family: 'Microsoft YaHei UI';
  font-size: 36pt;
  font-weight: bold;
}
.ts1 {
  font-family: 'Microsoft YaHei UI';
  font-size: 18pt;
}
.ts2 {
  font-family: 'Microsoft YaHei UI';
  font-size: 24pt;
  font-weight: bold;
}
.ts3 {
  color: Gray;
  background-color: White;
}
.ts4 {
  font-family: Î¢ÈíÑÅºÚ;
  font-size: 36pt;
  font-weight: bold;
}
.ts5 {
  font-family: Î¢ÈíÑÅºÚ;
}
.ts6 {
  font-family: Î¢ÈíÑÅºÚ;
  font-size: 16pt;
  font-weight: bold;
}
.ts7 {
  font-family: Î¢ÈíÑÅºÚ;
  font-weight: bold;
}
.ts8 {
  font-family: 'Microsoft YaHei UI';
  font-size: 16pt;
  font-weight: bold;
}
.ts9 {
  font-family: 'Microsoft YaHei UI';
}
.ts10 {
  font-family: Î¢ÈíÑÅºÚ;
  font-size: 36pt;
}
.hs0 {
  font-family: Î¢ÈíÑÅºÚ;
  font-size: 24pt;
  font-weight: bold;
  text-decoration: none;
  color: #0070c0;
}
.hs1 {
  text-decoration: underline;
  color: Gray;
  background-color: White;
}
.hs2 {
  font-family: Î¢ÈíÑÅºÚ;
  font-weight: bold;
  text-decoration: none;
  color: #0070c0;
}
.hs3 {
  font-family: Î¢ÈíÑÅºÚ;
  text-decoration: none;
  color: #0070c0;
}
.ps0 {
  text-align: center;
}
.ps1 {
  text-align: center;
  font-family: 'Microsoft YaHei UI';
  font-size: 10pt;
}
.ps2 {
  padding-right: 148.5pt;
  padding-left: 85.5pt;
  text-indent: 28.5pt;
}
.ps3 {
  padding-right: 148.5pt;
  padding-left: 110.25pt;
  text-indent: 28.5pt;
}
.ps4 {
  padding-right: 148.5pt;
  padding-left: 85.5pt;
  text-indent: 28.5pt;
  font-family: 'Microsoft YaHei UI';
  font-size: 10pt;
}
.ps5 {
  font-family: 'Courier New';
  font-size: 10pt;
}
.ps6 {
  text-align: center;
  font-family: Tahoma;
  font-size: 10pt;
}
.ps7 {
  padding-right: 116.25pt;
  padding-left: 114pt;
  text-indent: 28.5pt;
  text-align: center;
}
.ps8 {
  padding-right: 116.25pt;
  padding-left: 114pt;
  text-indent: 28.5pt;
}
.ps9 {
  text-indent: -2.25pt;
  text-align: center;
}
.ps10 {
  padding-left: -2.25pt;
  text-align: center;
}
.ps11 {
  padding-left: -2.25pt;
}
.ps12 {
  font-family: Î¢ÈíÑÅºÚ;
  font-size: 10pt;
}
.ps13 {
  padding-right: 2.25pt;
  padding-left: -2.25pt;
}
.ps14 {
  padding-right: 116.25pt;
  padding-left: 114pt;
  text-indent: 28.5pt;
  font-family: 'Microsoft YaHei UI';
  font-size: 10pt;
}
.block0 {
  padding: 0pt 0pt 0pt -2.25pt;
}
.block1 {
  padding: 0pt 0pt 0pt -2.25pt;
}
.block2 {
  padding: 0pt 2.25pt 0pt -2.25pt;
}
.hline0 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
}